html, body, .root {
  height: 100%;
}

body {
  line-height: 1.5;
}

body, .app {
  background: white;
}

.list-books-title {
  padding: 10px 0;
  background: #2e7c31;
  text-align: center;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23)
}

.list-books-title h1 {
  font-weight: 400;
  margin: 0;
  color: white;
}

.open-search {
  position: fixed;
  right: 25px;
  bottom: 25px;
}

.open-search a {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #2e7d32;
  background-image: url('../../images/icons/add.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 28px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  font-size: 0;
}

.empty-library {
  margin-top: 40px;
}

.empty-library span {
  font-size: 1.25em;
  color: #a0a0a0;
  display: inline-block;
  text-align: center;
  width: 100%;
}